{erl_opts, [debug_info]}.
{deps, [{cowboy, {git, "https://github.com/ninenines/cowboy.git",{tag, "2.0.0-pre.7"}}},
	{hackney, {git, "https://github.com/benoitc/hackney.git",{tag, "1.6.6"}}},
        {general,{git, "https://github.com/Moymer/Moymer-Services-Hub.git",{branch, "general"}}}		
	]}.

{relx, [{release, { http_gen_server, "0.1.0" },
         [http_gen_server,
          sasl,cowboy,hackney,general]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
